.footer {
    margin-top: 80px;
    margin-bottom: 48px;
}

.footer-logo {
    color: #111;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.footer-logo__title {
    font-weight: 800;
    font-size: 30px;
    transition: color .2s ease;
}

.footer-logo__description {
    font-size: 12px;
    font-weight: 500;
}

.footer-content {
    font-size: 16px;
    line-height: 1.8;
    font-weight: 400;
    color: #999;
    margin-bottom: 16px;
}

.footer-link {
    display: inline-block;
    color: var(--white-color);
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: var(--primary-color);
    border-radius: 50%;
    margin-right: 2px;
    transition: all .2s ease;
}

.footer__heading {
    color: #111;
    margin-bottom: 40px;
    font-size: 18px;
    font-weight: 500;
}

.list-item {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.8;
    font-weight: 400;
}

.list-item a{
    transition: all .2s ease;
}

.list-item a:hover {
    color: var(--primary-color);
}

.list-icon {
    color: var(--primary-color);
    font-size: 14px;
    padding-right: 4px;
}

.footer__blog-wrapper {
    display: flex;
    margin-bottom: 24px;
}

.footer__blog-img {
    display: block;
    height: 50px;
    width: 50px;
    border-radius: 4px;
}

.footer__blog-content {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.footer__blog-date, 
.footer__blog-author {
    font-size: 12px;
    line-height: 1.8;
    font-weight: 400;
}

.footer__blog-icon {
    line-height: 1.8;
}

.footer__blog-author {
    margin-left: 5px;
}

.footer__blog-link {
    transition: all 0.2s ease;
}

.footer__blog-link:hover {
    color: var(--primary-color);
}

.questions__wrapper {
    display: flex;
}

.questions__icon {
    margin-right: 8px;
    color: var(--primary-color);
    line-height: 1.5;
}

.questions__content {
    line-height: 1.5;
    margin-bottom: 15px;
    font-size: 15px;   
    color: rgba(0,0,0,.8);
}

/* copy right */

.copy-right {
    text-align: center;
    padding: 48px 0;
}

.copy-right__content {
    line-height: 1.8;
}

.author {
    text-align: center;
}