.btn {
    border: none;
    padding: 16px 24px;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 24px 36px -11px rgb(0 0 0 / 9%);
    font-size: 12px;
    line-height: 1.4;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.2s ease;
}

.btn.btn-primary {
    color: var(--white-color);
    background-color: var(--primary-color);
}

.btn.btn-reverse-primary {
    color: var(--primary-color);
    background-color: var(--white-color);
}

.btn:hover {
    box-shadow: none;
}